services:
  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: HomeAssistant
    environment:
      TZ: "Europe/Paris"
    ports:
      - 8123:8123
    volumes:
      - HomeAssistantConfig:/config
    restart: unless-stopped
    networks:
      - domotique_network

  mosquitto:
    image: eclipse-mosquitto
    container_name: MQTT
    restart: unless-stopped
    volumes:
      - MQTTconfig:/mosquitto/config
      - MQTTdata:/mosquitto/data
      - MQTTlog:/mosquitto/log
    ports:
      - 1883:1883
    networks:
      - domotique_network

volumes:
  HomeAssistantConfig:
  MQTTdata:
  MQTTlog:
  MQTTconfig:


networks:
  domotique_network:
    driver: bridge